/* 4K */

@media screen and (max-width: 2560px) {
    .slider-container {
        margin-top: 200px;
    }

    .intro .tagline, .services .tagline {
        margin: 30px 0 10px 5%;
    }

    .intro .content {
        margin: 10px auto 30px auto;
        padding: 20px;
    }

    .intro .tagline p, .services .tagline p {
        font-size: 80px;
        padding:10px;
    }

    .intro .content p {
        font-size: 40px;
    }

    .services .content {
        margin-bottom: 40px;
    }
}

/* 4K - R */

@media screen and (max-width: 1920px) {
    .slider-container {
        margin-top: 150px;
    }
    
    .intro .tagline p, .services .tagline p {
        font-size: 60px;
        padding:10px;
    }

    .intro .content p {
        font-size: 30px;
    }
}

/* Laptop-L */

@media screen and (max-width: 1440px) {
    .slider-container {
        margin-top: 100px;
    }

    .intro .tagline, .services .tagline {
        margin: 30px 0 10px 5%;
    }

    .intro .content {
        margin: 10px auto 30px auto;
        padding: 20px;
    }

    .intro .tagline p, .services .tagline p {
        font-size: 40px;
        padding:10px;
    }

    .intro .content p {
        font-size: 20px;
    }
}

/* Laptop */

@media screen and (max-width: 1024px) {
    .slider-container {
        margin-top: 80px;
    }

    .intro .tagline p, .services .tagline p {
        font-size: 35px;
    }

    .intro .content p {
        font-size: 15px;
    }
}

/* Tablets */ 

@media screen and (max-width: 810px) {
    .slider-container {
        margin-top: 70px;
    }

    .intro .tagline, .services .tagline {
        margin: 20px 0 10px 5%;
    }

    .intro .content {
        margin: 10px auto 20px auto;
        padding: 10px;
    }

    .services .content .strip {
        flex-direction: column;
    }

    .services .content .strip img {
        width: 100%;
        margin: 0;
    }

    .services .content .strip img:nth-child(2),
    .services .content .strip img:nth-child(3) {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

/* Extra */

@media screen and (max-width: 620px) {
    .intro .tagline, .services .tagline {
        border-bottom: none;
    }

    .intro .tagline, .services .tagline {
        margin: 10px 0 0px 5%;
    }

    .intro .content {
        margin: 0px auto 10px auto;
    }

    .services .strip:nth-child(1) {
        margin-top: 5px;
    }
}

/* Mobile */

@media screen and (max-width: 450px) {
    .slider-container {
        margin-top: 60px;
    }

    .intro .tagline p, .services .tagline p {
        font-size: 20px;
    }

    .intro .content p {
        font-size: 12px;
    }
}